* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Eurostile;
    src: url(./fonts/eurostile.TTF);
}

body {
    max-height: 1200px;
    max-width: 1200px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.container {
    display: flex;
    height: 550px;
    width: 360px;
    background-color: red;
    border: 1 solid black;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.boosio {
    width: 100%;
    height: 18%;
    background-color: aqua;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-family: Eurostile;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 3px;

}

.screen {
    width: 100%;
    height: 17%;
    background-color: black;
    text-align: right;
    color: green;
    font-family: 'Seven Segment', sans-serif;
    font-size: 50px;
    padding: 20px;
}

.keys {
    display: flex;
    width: 100%;
    height: 65%;
    background-color: rgb(68, 0, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: space-between;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    width: 78%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;

}

.simbols {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 15px;
    padding-top: 22px;
    padding-right: 25px;
}

.square {
    width: 68px;
    height: 68px;

}

.rectangle {
    width: 147px;
    height: 68px;
}

.little-square {
    width: 64px;
    height: 50px;
}